*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font_family);
  font-size: 16px;
  color: var(--app_text_color);
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--app_background);
}

.App-container {
  margin: 1rem;
  width: 540px;
  min-width: 320px;
}
