html[data-theme="theme_1"] {
  /* general */
  --app_background: #3a4764;
  --app_text_color: #ffffff;

  /* toggle */
  --toggle_background: #232c43;
  --toggle_key: #d03f2f;

  /* display */
  --display_background: #182034;

  /* keyboard */
  --keyboard_background: #232c43;

  --key_text_color: #444b5a;
  --key_background: #eae3dc;
  --key_shadow: #b4a597;

  --action_key_text_color: #ffffff;
  --action_key_background: #637097;
  --action_key_shadow: #404e72;

  --equals_key_text_color: #ffffff;
  --equals_key_background: #d03f2f;
  --equals_key_shadow: #93261a;
}

html[data-theme="theme_2"] {
  /* general */
  --app_background: #e6e6e6;
  --app_text_color: #35352c;

  /* toggle */
  --toggle_background: #d1cccc;
  --toggle_key: #ca5502;

  /* display */
  --display_background: #ededed;

  /* keyboard */
  --keyboard_background: #d1cccc;

  --key_text_color: #35352c;
  --key_background: #e5e4e1;
  --key_shadow: #a69d91;

  --action_key_text_color: #ffffff;
  --action_key_background: #377f86;
  --action_key_shadow: #1b5f65;

  --equals_key_text_color: #ffffff;
  --equals_key_background: #ca5502;
  --equals_key_shadow: #893901;
}

html[data-theme="theme_3"] {
  /* general */
  --app_background: #160628;
  --app_text_color: #ffe53d;

  /* toggle */
  --toggle_background: #1d0934;
  --toggle_key: #00e0d1;

  /* display */
  --display_background: #1d0934;

  /* keyboard */
  --keyboard_background: #1d0934;

  --key_text_color: #ffe53d;
  --key_background: #341c4f;
  --key_shadow: #871c9c;

  --action_key_text_color: #ffffff;
  --action_key_background: #58077d;
  --action_key_shadow: #bc15f4;

  --equals_key_text_color: #1b2428;
  --equals_key_background: #00e0d1;
  --equals_key_shadow: #6cf9f2;
}

html {
  --transition_duration: 200ms;
  --font_family: "League Spartan", sans-serif;
}
