html {
  font-family: "League Spartan";
  color: #fff;
}

html[data-theme-1] {
  --background: tomato;
}

html[data-theme-2] {
  --background: navy;
}

html[data-theme-3] {
  --background: goldenrod;
}
