.Keyboard {
  margin-top: 1.2rem;
  padding: 1.6rem;
  background-color: var(--keyboard_background);
  border-radius: 0.6rem;
}

.Keyboard__top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.6rem;
}

.Keyboard__bottom {
  margin-top: 1.6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
}

.Keyboard__default-button {
  background-color: var(--key_background);
  color: var(--key_text_color);
  border-color: var(--key_shadow);
}

.Keyboard__action-button {
  background-color: var(--action_key_background);
  color: var(--action_key_text_color);
  border-color: var(--action_key_shadow);
  text-transform: uppercase;
  font-size: 1.8rem;
}

.Keyboard__equals-button {
  background-color: var(--equals_key_background);
  color: var(--equals_key_text_color);
  border-color: var(--equals_key_shadow);
  font-size: 1.8rem;
}
