.Keyboard__top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.Keyboard__bottom {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
