.ThemeSelector {
  display: flex;
}

.ThemeSelector__label {
  align-self: flex-end;
  margin: 0 1.2rem 0.2rem 0;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

.ThemeSelector__toggle {
  width: 5rem;
}

.ThemeSelector__toggle-labels {
  display: flex;
  justify-content: space-between;
  padding: 0 0.2rem;
}

.ThemeSelector__toggle-label {
  width: 1rem;
  text-align: center;
}

.ThemeSelector__range {
  appearance: none;
  background: transparent;
  width: 5rem;
  margin: 0;
  display: block;
}

.ThemeSelector__range::-webkit-slider-runnable-track {
  appearance: none;
  background: navy;
  padding: 0.2rem;
  border-radius: 2rem;
}

.ThemeSelector__range::-webkit-slider-thumb {
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: tomato;
  cursor: pointer;
  border-radius: 50%;
}
